body {
  background-color: #FFF2F1;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
}
.cover {
  display: block;
  margin: auto;
}
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  display: flex;
  /* justify-content: space-around; */
}
div.scroll-container img {
  padding: 10px;
  height: 306px;
  width: 204px;
}
h1 {
  text-align: center;
  color: #274544;
}
h3 {
  text-align: center;
  color: #FFFFFF;
}
info > p {
  text-align: center;
  font-weight: bold;
  color: #274544;
}
figcaption {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}
a {
  text-decoration: none;
}
